
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131313 ;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #212F3D  ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #45a049; /* Añade borde aquí */
}
h1 {
    text-align: center;
    color: aliceblue;
}
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: aliceblue;
}
input[type="text"], input[type="email"], input[type="number"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea {
    height: 150px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
header {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(99,99,107,1) 47%, rgba(207,202,202,1) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
}
